<%= form_with(model: trn_prod_plan_header, local: true) do |f| %>
<div class="form-row"> 
  <%= f.hidden_field :plant,:value => "1080", class: 'form-control form-control-sm'%>     
  <div class="col-md-2 mb-2"> 
    <label for="work_center">Machine #</label>

    <%= f.text_field :work_center, :value => "MCH-1001", class: 'form-control form-control-sm'%>  
  </div>
  <div class="col-md-2 mb-2">
    <label for="uom">Uom</label>
    <%= f.text_field :sfg_uom, :value => "M" , class: 'form-control form-control-sm'%> 
    
    
  </div> 
  <div class="col-md-2 mb-2">
    <label for="Shift">Shift</label>
    <select name="shift" class="form-control form-control-sm" style="width: 90px">
      <option value="1">1</option>
      <option value="2">2</option> 
      <option value="3">3</option> 
    </select> 
  </div>  
</div> 
<!-- <div class='col-md-2 mb-2'>
            <input type='text' class="form-control" id='datetimepicker4' />
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker4').datetimepicker();
            });
        </script> -->
<div class="table-responsive">
  <table class="table table-bordered table-hover" id="planHeaderTable">
    <thead class="thead-light">
      <tr>
        <th scope="col" style="min-width: 100px">TRT No.</th>
        <th scope="col" style="min-width: 100px">Part No.</th> 
        <th scope="col" class="text-right">Day Req. </th>
        <th scope="col" class="text-right">Lot Size</th> 
        <th scope="col" class="text-right">Sfty Stk</th>
        <th scope="col" class="text-right">Cur. Stk</th>
        <th scope="col" class="text-right">Prod&nbsp;Qty</th>
        <th scope="col" class="text-right">Seq.</th>
        <th scope="col" class="text-right">Bom Type</th>
        <th scope="col" class="text-right">PO Type</th> 
        <th scope="col" class="text-right">PO No.</th>
        <th scope="col" class="text-right">Sche. No.</th>
        <th scope="col">Sch. Status</th>
      </tr>
    </thead>
    <tbody>
      <% plan_headers_list.each do |p| %>
      <tr id="header_<%= p.id %>">
        <td class=" align-middle"><%= p.trt_code %></td> 
        <td class="align-middle"><%= p.sfg_code %></td>  
        <td class="text-right align-middle"><%= p.day_req_qty_m2 %></td> 
        <td class="text-right align-middle"><%
        lot_size = 0
        if !p.lot_size.blank?
          lot_size = p.lot_size
        end 
         %>
           <%= lot_size %>
         </td>   
        <td class="text-right align-middle"><%= p.safety_stock %></td> 
        <td class="text-right align-middle"><%= p.stock_qty %></td> 
        <td class="text-right align-middle"><%= p.sfg_plan_qty %></td> 
        <td class="text-right align-middle"><%= p.sfg_sequence %></td> 
        <td class="align-middle"><%= p.bom_type %></td> 
        <td class="text-right align-middle"><%= p.po_type %> 
        <td class="text-right align-middle"><%= p.sap_plan_order %>
        <td class="text-right align-middle"><%= p.schedule_no %>
    <td class=" align-middle"><%= p.schedule_status %> 
 <span class="float-right">  <%= link_to "X", p, method: :delete, remote: true, data: { confirm: "Are you sure?" } %>
            </span>

          </td> 
    </tr>
    <% end %>
    <% plan_masters_list.each do |p| %>
    <tr id="master_<%= p.id %>" class="element-row">
      <td class="align-middle"> 
        <%= p.trt_code %> 
        <%= f.hidden_field :trt_code, :value => p.trt_code, name: "trn_prod_plan_header[schedule][#{p.id}][trt_code]", id:"trt_code"%>
 

      </td>   

       <td class=" align-middle"> 
        <%= p.sfg_code %> 
  <%= f.hidden_field :sfg_code, :value => p.sfg_code, name: "trn_prod_plan_header[schedule][#{p.id}][sfg_code]"%> 

  <%= f.hidden_field :sfg_desc, :value => p.sfg_desc,  name: "trn_prod_plan_header[schedule][#{p.id}][sfg_desc]"%> 
      </td>  

      <td class="text-right align-middle"><%= p.day_req_batch %>
  <%= f.hidden_field :day_req_qty_m2, :value => p.day_req_batch,  name: "trn_prod_plan_header[schedule][#{p.id}][day_req_qty_m2]"%> 
        
      </td> 
      <td class="text-right align-middle"> 
  <%= f.hidden_field :re_order_point, :value => p.re_order_point,  name: "trn_prod_plan_header[schedule][#{p.id}][re_order_point]"%> 
  <%= f.hidden_field :max_stock, :value => p.max_stock,  name: "trn_prod_plan_header[schedule][#{p.id}][max_stock]"%> 
   <%= f.text_field :lot_size, :value => p.lot_size,  class: 'form-control form-control-sm  text-right w40 lot-size', name: "trn_prod_plan_header[schedule][#{p.id}][lot_size]"%>
      </td>  

      <td class="text-right align-middle"> 
        <%= f.text_field :safety_stock, :type => "number", :value => p.safety_stock, class: 'form-control form-control-sm text-right safety-stock w40' , name: "trn_prod_plan_header[schedule][#{p.id}][safety_stock]", :required => true,:readonly => true%> </td>   

        <td class="text-right align-middle"> 
          <%= 
          if !p.stock_qty.blank?
            stock_qty = (p.stock_qty / p.width).round(2) 
          else
            stock_qty = 0
          end
          f.text_field :stock_qty, :type => "number", :value => stock_qty, class: 'form-control form-control-sm  text-right stock-qty w40', name: "trn_prod_plan_header[schedule][#{p.id}][stock_qty]", :required => true, :min=>0, :readonly => true
          %> </td>  
          <td class="text-right align-middle"> 
            <%= 
            lot_size = 0
            if !p.lot_size.blank?
              lot_size = p.lot_size  
            end

            safety_stock = 0 
            if !p.safety_stock.blank?
              safety_stock = p.safety_stock  
            end
            
            plan_qty = 0
            plan_qty = lot_size + safety_stock - stock_qty 

            if plan_qty < 0
              plan_qty = 0
            end

            f.text_field :sfg_plan_qty, :type => "number", :value => plan_qty, class: 'form-control form-control-sm text-right sfg-plan-qty w40', name: "trn_prod_plan_header[schedule][#{p.id}][sfg_plan_qty]" , :min=>0
            %> 
          </td> 
          <td class="text-right align-middle"><%= f.text_field :sfg_sequence,  :type => "number", class: 'sfg_sequence form-control form-control-sm text-right w40', name: "trn_prod_plan_header[schedule][#{p.id}][sfg_sequence]", :min=>0%> </td> 
          <td class="align-middle">
            <%= f.text_field :bom_type, :value => p.bom_type,  class: 'form-control form-control-sm w40', name: "trn_prod_plan_header[schedule][#{p.id}][bom_type]"%> 
  <%= f.hidden_field :alt_bom_no, :value => p.alt_bom_no,  name: "trn_prod_plan_header[schedule][#{p.id}][alt_bom_no]"%>  

          </td>  
          <td class=" align-middle"> 
            <%= 
            if p.bom_type.blank?
              po_type = ''
            elsif p.bom_type == 'G'
              po_type = 'T'
            else
              po_type = 'R'
            end
            f.text_field :po_type, :value => po_type,   class: 'form-control form-control-sm w40', name: "trn_prod_plan_header[schedule][#{p.id}][po_type]"
            %>
          </td>   
          <td class="text-right align-middle">
            <%= p.sap_plan_order %>
  <%= f.hidden_field :sap_plan_order, :value => p.sap_plan_order,  name: "trn_prod_plan_header[schedule][#{p.id}][sap_plan_order]"%>  
          </td> 

          <td class="text-right align-middle"><%= f.text_field :schedule_no, :type => "number",  class: 'form-control form-control-sm text-right w40', name: "trn_prod_plan_header[schedule][#{p.id}][schedule_no]", :required => true, :min=>0%> </td>  
          <td class=" align-middle">
            Plan
            <%= f.hidden_field :schedule_status, :value => 'Plan',  name: "trn_prod_plan_header[schedule][#{p.id}][schedule_status]"   %>  
<%= f.hidden_field :action_status, :value => "Open" , class: 'form-control form-control-sm',  name: "trn_prod_plan_header[schedule][#{p.id}][action_status]"%> 
          </td> 
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>  
  <%= button_tag 'Add', onclick: "addRow()", type: 'button', :class => "btn btn-primary"%>  
  <%= button_tag 'Clear', type: 'reset', :class => "btn btn-secondary"%>  
  <%= button_tag 'Submit', type: 'submit', :class => "btn btn-primary"%> 
  <%= button_tag 'Cancel', type: 'button', :class => "btn btn-secondary removeRow"%>  

  
  <% if trn_prod_plan_header.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(trn_prod_plan_header.errors.count, "error") %> prohibited this trn_prod_plan_header from being saved:</h2>

    <ul>
      <% trn_prod_plan_header.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %> 
  <% end %> 

  <div class="modal fade" id="trt_master">
    <div class="modal-dialog modal-lg">
      <div class="modal-content ">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">TRT Master</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">

          <table class="table table-bordered table-hover" id="trtMasterTable">
            <thead class="thead-light">
             <input type="hidden" id="master_id" value="">
             <tr>
              <th scope="col">TRT&nbsp;#</th>
              <th scope="col">Part&nbsp;#</th>
              <th scope="col">Vendor&nbsp;Name</th>
              <th scope="col">Fabric&nbsp;Denier</th>
              <th scope="col">Compound</th> 
              <th scope="col">Gauge</th>
            </tr>
          </thead> 
          <tbody id="trttbody"> 
          </tbody>
        </table>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

<script type="text/javascript"> 

// $(document).on('click', '.trt_code1', function(){  
//   var $this = $(this);
//   var sfgCode = $this.closest('.element-row').find('#sfgCode').val(); 
//   var id = $this.attr('data-id'); 
//   $("#master_id").val(id);   
//   $.ajax({
//     url: "trt_masters/"+sfgCode+".json",
//     dataType: 'json',
//     type: "GET",
//     success: function(data) { 
//       $("#trttbody").empty();
//       $("#trttbody").html("");
//       $.each(data, function(i, t) {  
//         var seq = i + 1;
//         $('#trttbody').append('<tr class="trtList" data-dismiss="modal"><td class=" align-middle" id="trt_code">'+t.trt_code+'</td>  <td class=" align-middle" id="sfg_code">'+t.sfg_code+'</td><td class=" align-middle" id="vendor_name"> '+t.vendor_name +'</td> <td class=" align-middle" id="fabric_code">'+t.fabric_code +'</td> <td class=" align-middle" id="comp_code">'+t.comp_code +'</td>  <td class="text-right align-middle" id="gauge">'+t.gauge +'</td> <input type="hidden" id="seq_no" value="'+ seq +'"></tr>');
//       });
//     }
//   });
// });   

 $("#trttbody").on('click', '.trtList', function(){
  var id = "#master_" + $("#master_id").val(); 
  $(id).find(".trt_code").val($(this).find("#trt_code").text()); 
  $(id).find(".sfg_sequence").val($(this).find("#seq_no").val());  
}); 


  $("#planHeaderTable").on('blur', ".stock-qty, .lot-size, .safety-stock", function(){ 
    var $this = $(this);
    var ele = $this.closest('.element-row');
    var stock_qty = parseInt(ele.find('.stock-qty').val()) || 0;
    var safety_stock = parseInt(ele.find('.safety-stock').val()) || 0;
    var lot_size = parseInt(ele.find('.lot-size').val()) || 0;

    var sfg_plan_qty = ele.find('.sfg-plan-qty');
    sfg_plan_qty.val('');

    var qty = lot_size + safety_stock - stock_qty;

    if (qty <= 0) {qty = 0}
    sfg_plan_qty.val(qty.toFixed()); 
  }); 

 function addRow() {
  if(document.getElementById('master_new') !== null)
    { return false;}

    trtAutocomplete();
    var tr = document.getElementById('master_new');

    var empTab = document.getElementById('planHeaderTable');
    var rowCnt = empTab.rows.length;        // GET TABLE ROW COUNT.
    var tr = empTab.insertRow(rowCnt);
    tr.id = "master_new"   
    tr.className = "element-row"   

    var tdEle = document.createElement('td');   

    var eleSelect = document.createElement('SELECT');
    var option = document.createElement("option"); 
    setAttributes(eleSelect, {"id":"schedule_status","class": "form-control form-control-sm","style":"width:90px", "name":"trn_prod_plan_header[schedule][0][schedule_status]"}); 
    option.text = "WIP";
    eleSelect.add(option); 
    option = document.createElement("option");
    option.text = "Plan";
    eleSelect.add(option); 
    td = tr.insertCell(tdEle);      
    td.appendChild(eleSelect); 

    var ele = document.createElement('input');
    setAttributes(ele, {"id":"schedule_no","type": "number", "value": "0","class": "form-control form-control-sm text-right w40", "name":"trn_prod_plan_header[schedule][0][schedule_no]","min":"0"});
    td = tr.insertCell(tdEle);
    td.appendChild(ele);  


    var ele = document.createElement('input');
    setAttributes(ele, {"id":"sap_plan_order", "class": "form-control form-control-sm text-right", "name":"trn_prod_plan_header[schedule][0][sap_plan_order]","min":"0"});
    td = tr.insertCell(tdEle);
    td.appendChild(ele);  
 

    ele = document.createElement('input');
    setAttributes(ele, {"id":"po_type","value":"T", "class": "form-control form-control-sm w40", "name":"trn_prod_plan_header[schedule][0][po_type]"});
    td = tr.insertCell(tdEle);
    td.appendChild(ele);   

    var eleSelect = document.createElement('SELECT');
    var option = document.createElement("option"); 
    setAttributes(eleSelect, {"id":"bom_type","class": "form-control form-control-sm text-right", "name":"trn_prod_plan_header[schedule][0][bom_type]"}); 
    option.text = "G";
    eleSelect.add(option);
    td = tr.insertCell(tdEle);      
    td.appendChild(eleSelect); 


    var ele = document.createElement('input');
    setAttributes(ele, {"type": "number", "value": "","class": "form-control form-control-sm text-right w40", "name":"trn_prod_plan_header[schedule][0][sfg_sequence]","required":"true","min":"0"});
    td = tr.insertCell(tdEle);      
    td.appendChild(ele);  


    ele = document.createElement('input');
    setAttributes(ele, {"id":"sfg_plan_qty", "type": "number", "value": "0","class": "form-control form-control-sm sfg-plan-qty text-right w40", "name":"trn_prod_plan_header[schedule][0][sfg_plan_qty]","min":"0"});
    td = tr.insertCell(tdEle);
    td.appendChild(ele);  

    ele = document.createElement('input');
    setAttributes(ele, {"id":"stock_qty", "type": "number", "value": "0","class": "form-control form-control-sm text-right w40 stock-qty", "name":"trn_prod_plan_header[schedule][0][stock_qty]","min":"0"});
    td = tr.insertCell(tdEle);      
    td.appendChild(ele); 

    ele = document.createElement('input');
    setAttributes(ele, {"id":"safetyStock", "type": "number", "value": "0","class": "form-control form-control-sm text-right w40 safety-stock", "name":"trn_prod_plan_header[schedule][0][safety_stock]","min":"0"});
    td = tr.insertCell(tdEle);      
    td.appendChild(ele);  

    ele = document.createElement('input');
    setAttributes(ele, {"type":"hidden", "id":"max_stock",  "value": "0","class": "form-control form-control-sm text-right w40", "name":"trn_prod_plan_header[schedule][0][max_stock]" }); 
    td.appendChild(ele); 

    
    ele = document.createElement('input');
    setAttributes(ele, {"type":"hidden","id":"reorder_point",  "value": "0","class": "form-control form-control-sm text-right w40", "name":"trn_prod_plan_header[schedule][0][re_order_point]" }); 
    td.appendChild(ele); 
 
    ele = document.createElement('input');
    setAttributes(ele, {"id":"lot_size",  "value": "0","class": " form-control form-control-sm text-right w40 lot-size", "type": "number", "name":"trn_prod_plan_header[schedule][0][lot_size]","required":"true","min":"0"});
    td = tr.insertCell(tdEle);      
    td.appendChild(ele); 

    ele = document.createElement('input');
    setAttributes(ele, {"id":"day_req_qty_m2", "type": "number", "value": "0","class": "form-control form-control-sm text-right w40", "name":"trn_prod_plan_header[schedule][0][day_req_qty_m2]", "required":"true","min":"0"}); 
    td = tr.insertCell(tdEle);      
    td.appendChild(ele); 
    

    ele = document.createElement('input');
    setAttributes(ele, {"type":"hidden","id":"sfg_desc","class": " form-control form-control-sm", "name":"trn_prod_plan_header[schedule][0][sfg_desc]","required":"true"});       
    td.appendChild(ele); 

    ele = document.createElement('input');
    setAttributes(ele, {"id":"sfg_code",  "value": "","class": " form-control form-control-sm", "name":"trn_prod_plan_header[schedule][0][sfg_code]","style":"width:135px", "required":"true"});
    td = tr.insertCell(tdEle);      
    td.appendChild(ele);  
 

    ele = document.createElement('input'); 
    setAttributes(ele, {"class": "auto-form-control trt_code form-control form-control-sm", "data-id":"new", "name":"trn_prod_plan_header[schedule][0][trt_code]", "required":"true"});
    td = tr.insertCell(tdEle);      
    td.appendChild(ele); 

  }

$(document).on('change', '#bom_type', function() {
  var x = this.value;
  if(x == 'G'){
    $(this).closest('.element-row').find('#po_type').val("T");
  }else{
    $(this).closest('.element-row').find('#po_type').val("R");
  }
});
 

</script> 